/* User interface stylesheet */

#user-interface {
    position: absolute;
    z-index: 9999;
    pointer-events: none;
}

#searchingForGrp, #hintGrp {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
}
/* Search for */
#searchingForBox {
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1), -5px -5px 20px 0px rgba(0,0,0,0.3 );
}

#searchingForText {
    margin: 5px;
    padding: 5px;
    border-radius: 5px;
    background-color: rgba(167, 167, 167, 0.8);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1), -5px -5px 20px 0px rgba(0,0,0,0.3);
}

.uiBox {
    width: 80px;
    height: 80px;
    background-color: rgba(167, 167, 167, 0.8);
    border: 2px solid rgba(255, 255, 255, 0.6);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1), -5px -5px 20px 0px rgba(0,0,0,0.3);
}

h3, h4, #hintText h3, #hintText h4 {
    margin: 5px;
    color: #212121;
    font-family: Helvetica, "Trebuchet MS", Verdana, sans-serif;
    font-weight: 500;
    font-size: 1.1em; 
}

h4 {
    font-size: 1.4em;
    font-weight: 700;
}

.propImage {
    max-width: 70px;
}

/* Hint */
#hintText {
    clear: both;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 3px;
    background-color: rgba(167, 167, 167, 0.8);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1), -5px -5px 20px 0px rgba(0,0,0,0.3);
}

#hintText h3 {
    float: left;
    font-weight: 700;
}
#hintText h4 {
    float: right;
    font-size: 1em;
    font-style: italic;
}

/* Inventory */
#inventoryGrp {
    display: flex;
    flex-direction: column;
    height: 75vh;
    justify-content: flex-end;
    pointer-events: none;
}

#inventoryBox1, #inventoryBox2, #inventoryBox3 {
    margin: 5px 0px 0px 10px;
}

/* Messages */
#messageGrp {
    display: flex;
    justify-content: center;
}

#messageGrp h3 {
    min-width: 200px;
    min-height: 37px;
    border-radius: 5px;
    padding: 8px;
    background-color: rgba(167, 167, 167, 0.8);
    box-shadow: 5px 5px 20px 0px rgba(0,0,0,0.1), -5px -5px 20px 0px rgba(0,0,0,0.3);
}

